In [2]:
import pyodbc
import pandas as pd
import os

In [3]:
connection = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=servername;"
                      "Database=AdventureWorksDW2012;"
                      "Trusted_Connection=yes;"
)

df = pd.read_sql_query("select * FROM [AdventureWorks2012].[Sales].[vw_salesoverview] order by OrderDate", connection)

In [4]:
df = pd.read_excel("data/AdvWorksData.xlsx")
df.head()

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,6.9223,5.0136,0.02,1.4038,8.6442,96.9122,-28.125608,14,68.786592
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10.3125,15.0000,0.00,0.0000,25.0000,61.8750,28.125000,6,90.000000
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,125.3672,56.984800,8,182.352000
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,15.6709,20.8945,0.05,16.7156,37.9900,250.7344,66.862000,16,317.596400
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,109.6963,49.861700,7,159.558000

In [5]:
df['OrderDate'] = df['OrderDate'].dt.date
df.head()

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,6.9223,5.0136,0.02,1.4038,8.6442,96.9122,-28.125608,14,68.786592
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10.3125,15.0000,0.00,0.0000,25.0000,61.8750,28.125000,6,90.000000
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,125.3672,56.984800,8,182.352000
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,15.6709,20.8945,0.05,16.7156,37.9900,250.7344,66.862000,16,317.596400
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,109.6963,49.861700,7,159.558000

In [6]:
ls = df['saleterritory'].unique()
ls

array(['United Kingdom', 'France', 'Germany', 'Northwest', 'Canada',
       'Central', 'Southwest', 'Northeast', 'Southeast', 'Australia'],
      dtype=object)

In [8]:
base_dir = r"E:\Shared\reports"
for x in ls:
    print(base_dir + "\\" + x)
    folders = base_dir + "\\" + x
    if not os.path.exists(folders):
        os.makedirs(folders)
    df[df['saleterritory'] == x].to_excel("{}\{}.xlsx".format(folders, x), sheet_name=x, index=False)
    print("{} file saved", x)

E:\Shared\reports\Northwest
{} file saved Northwest
E:\Shared\reports\Canada
{} file saved Canada
E:\Shared\reports\Central
{} file saved Central
E:\Shared\reports\Southwest
{} file saved Southwest
E:\Shared\reports\Northeast
{} file saved Northeast
E:\Shared\reports\Southeast
{} file saved Southeast
E:\Shared\reports\United Kingdom
{} file saved United Kingdom
E:\Shared\reports\France
{} file saved France
E:\Shared\reports\Germany
{} file saved Germany
E:\Shared\reports\Australia
{} file saved Australia

## adding email funcationality

In [6]:
dict = {
'Canada': 'youremail@domain.com',
'Central': 'youremail@domain.com',
'Southwest' : 'youremail@domain.com' , 
'United Kingdom': 'youremail@domain.com' 
}

In [7]:
ls

array(['Northwest', 'Canada', 'Central', 'Southwest', 'Northeast',
       'Southeast', 'United Kingdom', 'France', 'Germany', 'Australia'],
      dtype=object)

### check if dictionary key exists in a list... ```if key in ls```

In [18]:
sender_address = 'admin@domain.com'
email_df = pd.DataFrame()
for key, value in dict.items():
    if key in ls:
        print("Email " + value + " territory " + key)
        email_df = email_df.append(df[df['saleterritory'] == key])
        send_dataframe(value,sender_address ,"Weekly Product Report", email_df)
        email_df = pd.DataFrame()

Email hnawaz@localmail.com territory Canada
Email hnawaz@localmail.com territory Central
Email tahir@localmail.com territory Southwest
Email tahir@localmail.com territory United Kingdom

In [35]:
email_df['saleterritory'].unique()

array(['Canada', 'Central', 'Southwest', 'United Kingdom'], dtype=object)

In [10]:
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from email.mime.base import MIMEBase
from email import encoders
from smtplib import SMTP
import smtplib
import io
import json

In [13]:
def export_csv(df):
  with io.StringIO() as buffer:
    df.to_csv(buffer)
    return buffer.getvalue()
#
def export_excel(df):
  with io.BytesIO() as buffer:
    with pd.ExcelWriter(buffer) as writer:
        #df.to_excel(writer, sheet_name="Weekly_Report", index=False, na_rep='NaN')
        df.style.format({"Sales": "${:20,.0f}", 
                  "UnitPrice": "${:20,.0f}", 
                  "ListPrice": "${:20,.0f}",
                  "NetSales":"${:20,.0f}"})\
         .format({"product": lambda x:x.lower(),
                  "Customer": lambda x:x.lower()})\
         .hide_index()\
         .background_gradient(cmap='Blues').to_excel(writer, sheet_name="Weekly_Report", index=False, na_rep='NaN')
        for column in df:
            column_length = max(df[column].astype(str).map(len).max(), len(column))
            col_idx = df.columns.get_loc(column)
            writer.sheets['Weekly_Report'].set_column(col_idx, col_idx, column_length)
    return buffer.getvalue()

In [15]:
bodytemp = r'Path\to\your\template\email.html'
with open(bodytemp, "r", encoding='utf-8') as f:
    temp= f.read()

#EXPORTERS = {'dataframe.csv': export_csv, 'dataframe.xlsx': export_excel}
EXPORTERS = {'Weekly Product Report.xlsx': export_excel}
def send_dataframe(send_to,from_add, subject, df):
    multipart = MIMEMultipart()
    #MIMEMultipart()
    multipart['From'] = from_add
    multipart['To'] = send_to
    multipart['Subject'] = subject
    for filename in EXPORTERS:    
        attachment = MIMEApplication(EXPORTERS[filename](df))
        attachment['Content-Disposition'] = 'attachment; filename="{}"'.format(filename)
        multipart.attach(attachment)
    multipart.attach(MIMEText(temp, 'html'))
    #Your smptp server name here. Gmail settings: smtp.gmail.com
    s = smtplib.SMTP('localhost')
    #put your email address credentials here
    s.login(email, password)
    s.sendmail(from_add, send_to, multipart.as_string())
    s.quit()

In [11]:
#add your configuration file. Or directly input your credentilas above
content = open('config/gmail.json')
config = json.load(content)
email = config['local']
password = config['pass']