In [2]:
import xlsxwriter
import pandas as pd

In [3]:
url = "https://github.com/hnawaz007/pythondataanalysis/blob/main/AutomateExcelReports/AdvWorksData.xlsx?raw=true"

In [4]:
# read from url
df=pd.read_excel(url, sheet_name='Sheet1')

In [8]:
category_sales = df.groupby(['productsubcategory','OrderDate'])[['StandardCost','UnitPriceDiscount','UnitPrice','ListPrice','OrderQuantity','Sales']].sum().sort_values(by='Sales', ascending = False).reset_index()
category_sales.head()

,productsubcategory,OrderDate,StandardCost,UnitPriceDiscount,UnitPrice,ListPrice,OrderQuantity,Sales
0,Road Bikes,2012-06-30,548293.4739,11.23,490258.8203,831891.3600,2310,1.599893e+06
1,Road Bikes,2013-03-30,525119.3943,0.15,476680.3665,794663.0250,2084,1.518931e+06
2,Road Bikes,2012-09-30,530267.7827,0.10,481217.0095,802158.8475,2081,1.515724e+06
3,Road Bikes,2012-12-31,495090.1958,0.06,449573.5941,749367.6225,1863,1.345480e+06
4,Mountain Bikes,2011-10-01,321987.1136,0.06,343311.4866,572523.3100,628,1.272613e+06

In [9]:
dsf= category_sales[(category_sales['OrderDate'] == '2014-05-01')]

In [11]:
dsf

,productsubcategory,OrderDate,StandardCost,UnitPriceDiscount,UnitPrice,ListPrice,OrderQuantity,Sales
7,Touring Bikes,2014-05-01,487204.4461,0.04,470212.0236,783790.92,1336,1.192863e+06
43,Mountain Bikes,2014-05-01,233354.6931,31.60,238801.9080,427759.32,897,7.812294e+05
48,Road Bikes,2014-05-01,261755.2104,0.23,246473.7203,411306.13,902,7.420360e+05
95,Mountain Frames,2014-05-01,84150.1992,0.00,92202.5520,153670.92,613,2.209291e+05
103,Touring Frames,2014-05-01,76979.4336,0.00,77056.4880,128427.48,373,1.816296e+05
127,Road Frames,2014-05-01,45025.3711,0.00,44520.8040,74201.34,240,1.029480e+05
171,Jerseys,2014-05-01,7735.4816,0.71,5990.3151,10046.08,1088,3.342720e+04
191,Shorts,2014-05-01,2539.1011,0.42,4044.0222,6789.03,577,2.340339e+04
202,Cranksets,2014-05-01,7036.7140,0.00,9509.0700,15848.45,123,2.093776e+04
207,Vests,2014-05-01,1852.4220,0.56,2936.2400,4953.00,557,2.027521e+04
220,Bike Racks,2014-05-01,2244.0000,0.10,3588.0000,6000.00,253,1.798469e+04
257,Pedals,2014-05-01,3816.3676,0.02,5155.6262,8595.41,367,1.372831e+04
274,Helmets,2014-05-01,1295.5437,0.39,2064.7599,3464.01,584,1.196780e+04
322,Handlebars,2014-05-01,3172.3243,0.00,4286.9220,7144.87,178,8.655006e+03
323,Derailleurs,2014-05-01,2405.0684,0.02,3248.2622,5416.82,141,8.616661e+03
346,Bottom Brackets,2014-05-01,2217.5380,0.00,2996.6700,4994.45,134,7.378296e+03
356,Hydration Packs,2014-05-01,616.9890,0.09,984.8709,1649.70,208,6.758859e+03
377,Brakes,2014-05-01,2175.1560,0.00,2939.4000,4899.00,92,5.878800e+03
386,Saddles,2014-05-01,1688.8014,0.00,2282.1600,3803.60,208,5.416956e+03
422,Gloves,2014-05-01,540.3987,0.04,865.9664,1444.91,261,3.817335e+03
492,Socks,2014-05-01,178.2019,0.18,284.2638,476.47,298,1.564771e+03
514,Caps,2014-05-01,297.6589,0.12,230.8632,386.57,218,1.154586e+03
517,Cleaners,2014-05-01,121.9053,0.15,194.3775,325.95,238,1.109964e+03
526,Chains,2014-05-01,260.6114,0.00,352.1760,586.96,84,1.020096e+03
560,Bottles and Cages,2014-05-01,78.3846,0.11,125.1991,209.58,223,6.557978e+02
607,Tires and Tubes,2014-05-01,10.2780,0.00,16.4880,27.48,67,9.205800e+01

In [93]:
writer = pd.ExcelWriter(r'G:\\test\\enhancedoutput.xlsx', engine='xlsxwriter')
dsf.to_excel(writer, index=False, sheet_name='report')
#
workbook = writer.book
worksheet = writer.sheets['report']
#Now we have the worksheet object. We can manipulate it 
worksheet.set_zoom(90)

In [94]:
header_format = workbook.add_format({
        "valign": "vcenter",
        "align": "center",
        "bg_color": "#951F06",
         "bold": True,
        'font_color': '#FFFFFF',
         'border' : 1, 
         'border_color': ''#D3D3D3'
    })

In [95]:
#add title
title = "Monthly Sales Report "
#merge cells
format = workbook.add_format()
format.set_font_size(20)
format.set_font_color("#333333")
#
subheader = "Sales report for May"
worksheet.merge_range('A1:AS1', title, format)
worksheet.merge_range('A2:AS2', subheader)
worksheet.set_row(2, 15) # Set the header row height to 15
# puting it all together
# Write the column headers with the defined format.
for col_num, value in enumerate(dsf.columns.values):
    #print(col_num, value)
    worksheet.write(2, col_num, value, header_format)

In [96]:
# Full border formatting for conditional formatted cells
full_border = workbook.add_format({ "border" : 1, "border_color": "#D3D3D3"})

In [97]:
# Add a number format for cells with money.
currency_format = workbook.add_format({'num_format': '$#,##0.00'})

In [98]:
# Add a number format for cells with money.
currency_format = workbook.add_format({'num_format': '$#,##0.00'})
percent_fmt = workbook.add_format({'num_format': '0.0%'})

In [99]:
# Adjust the column width.
worksheet.set_column('A:H', 20)

0

In [100]:
txt_list = ["Mountain Frames", "Helmets" ,"Shorts"]

In [101]:
# Numbers formatting
worksheet.set_column('C:C', 12, currency_format)
worksheet.set_column('E:E', 12, currency_format)
worksheet.set_column('F:F', 12, currency_format)
worksheet.set_column('H:H', 12, currency_format)
# Percent formatting
worksheet.set_column('D:D', 20, percent_fmt)

0

In [102]:
# Light red fill with dark red text.
lessthanthousand = workbook.add_format({'bg_color':   '#FFC7CE','font_color': '#9C0006'})
for value in txt_list:
    worksheet.conditional_format('A4:H27', {'type': 'formula',
                                          'criteria': '=LEFT($A4, 27)="%s"' % value,
                                          'format': lessthanthousand})

In [103]:
#Advance output
writer.save()