In [1]:
import pandas as pd
import numpy as np
from xlsxwriter.utility import xl_rowcol_to_cell

In [2]:
df = pd.read_excel("G:\\repo\\sampledata.xlsx")

In [3]:
# dataframe has fifteen rows. Index starts from zero
df

,Category,Sub-Category,Product,Country,OrderDate,Cost,Discount,Sales,Net
0,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,152.4,128.651
1,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,152.4,128.651
2,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,152.4,128.651
3,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,38.1,14.351
4,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,76.2,52.451
5,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,228.6,204.851
6,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,152.4,128.651
7,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,228.6,204.851
8,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,381.0,357.251
9,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,266.7,242.951
10,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,76.2,52.451
11,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,114.3,90.551
12,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,114.3,90.551
13,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,304.8,281.051
14,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0,266.7,242.951

In [4]:
startrowval = 2 # index starts from zero
writer = pd.ExcelWriter(r'G:\repo\sample_enhanced_output.xlsx', engine='xlsxwriter')
df.to_excel(writer, startrow=startrowval, index=False, sheet_name='report')
#
workbook = writer.book
worksheet = writer.sheets['report']
#Now we have the worksheet object. We can manipulate it 
worksheet.set_zoom(90)

In [5]:
#Set header formating
header_format = workbook.add_format({
        "valign": "vcenter",
        "align": "center",
        "bg_color": "#951F06",
         "bold": True,
        'font_color': '#FFFFFF'
    })

In [6]:
#add title
title = "Monthly Sales Report "
#merge cells
format = workbook.add_format()
format.set_font_size(20)
format.set_font_color("#333333")
#
subheader = "Sales report for Classic Vest, M"
worksheet.merge_range('A1:AS1', title, format)
worksheet.merge_range('A2:AS2', subheader)
worksheet.set_row(2, 15) # Set the header row height to 15
# puting it all together
# Write the column headers with the defined format.
for col_num, value in enumerate(df.columns.values):
    #print(col_num, value)
    worksheet.write(startrowval, col_num, value, header_format)

In [7]:
# Add a number format for cells with money.
money_fmt = workbook.add_format({'num_format': '$#,##0.00'})
# Total formatting
total_fmt = workbook.add_format({'align': 'right', 'num_format': '$#,##0',
                                 'bold': True, 'bottom':6})

In [8]:
# Adjust the column width.
worksheet.set_column('A:F', 20)

0

In [9]:
# numeric columns
worksheet.set_column('F:I', 12, money_fmt)

0

In [10]:
number_rows = len(df.index) + startrowval
number_rows

17

In [11]:
# Add total rows
for column in range(5, 9):
    # Determine where we will place the formula
    cell_location = xl_rowcol_to_cell(number_rows+1, column)
    # Get the range to use for the sum formula
    start_range = xl_rowcol_to_cell(3, column)
    print(start_range)
    end_range = xl_rowcol_to_cell(number_rows, column)
    print(end_range)
    # Construct and write the formula
    formula = "=SUM({:s}:{:s})".format(start_range, end_range)
    print(formula)
    worksheet.write_formula(cell_location, formula, total_fmt)

F4
F18
=SUM(F4:F18)
G4
G18
=SUM(G4:G18)
H4
H18
=SUM(H4:H18)
I4
I18
=SUM(I4:I18)

In [12]:
# Add a total label
worksheet.write_string(number_rows+1, 4, "Total",total_fmt)

0

In [13]:
#Advance output
writer.save()