### import pandas libary

In [2]:
import pandas as pd

In [3]:
pd.options.display.float_format = '{:,.0f}'.format

### Import data from a file

In [62]:
df = pd.read_excel("AdvWorksData.xlsx")

In [6]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.empty

False

In [113]:
#df.head()
df.head(10)

,Category,Sub-Category,product,Territory,Date,Quantity,Sales,Region,Year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,14,69,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,6,90,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,8,182,Europe,2012
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,16,318,Europe,2012
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,7,160,Europe,2012
5,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,2,46,Europe,2012
6,Clothing,Gloves,"Full-Finger Gloves, S",United Kingdom,2012-06-30,1,23,Europe,2012
7,Clothing,Gloves,"Full-Finger Gloves, S",United Kingdom,2012-06-30,1,23,Europe,2012
8,Clothing,Gloves,"Half-Finger Gloves, L",United Kingdom,2012-06-30,3,42,Europe,2012
9,Clothing,Gloves,"Half-Finger Gloves, M",United Kingdom,2012-06-30,8,113,Europe,2012

In [9]:
df.tail()

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
60875,Clothing,Shorts,"Women's Mountain Shorts, L",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,209,127,8,336
60876,Clothing,Shorts,"Women's Mountain Shorts, L",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,157,95,6,252
60877,Clothing,Shorts,"Women's Mountain Shorts, M",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,79,47,3,126
60878,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,131,79,5,210
60879,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,79,47,3,126

In [10]:
df.shape

(60880, 20)

In [13]:
df.columns

Index(['Category', 'Sub-Category', 'product', 'Territory', 'Country', 'City',
       'State', 'Customer', 'Employee', 'OrderCount', 'Date', 'StandardCost',
       'UnitPrice', 'UnitPriceDiscount', 'Discount', 'ListPrice',
       'SaleswithStandard', 'NetSales', 'Quantity', 'Sales'],
      dtype='object')

In [64]:
#Rename columns with rename function
df = df.rename(columns={"productcategory": "Category", "saleterritory": "Territory", "productsubcategory": "Sub-Category", \
                        "OrderQuantity": "Quantity", "OrderDate": "Date", "Sate": "State"})
df.head(5)

,Category,Sub-Category,product,Territory,Country,City,State,Customer,Employee,OrderCount,Date,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,Quantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

### How to get columns and rows?

In [16]:
#df['product'][0:5]
df[['Category','product']][0:5]

      Category                product
0     Clothing           AWC Logo Cap
1  Accessories             Cable Lock
2     Clothing  Full-Finger Gloves, L
3     Clothing  Full-Finger Gloves, L
4     Clothing  Full-Finger Gloves, M

In [65]:
#how to limit columns from dataframe
df = df[['Category','Sub-Category','product','Territory','Date','ListPrice','Quantity','Sales']]

In [66]:
df.head()

,Category,Sub-Category,product,Territory,Date,ListPrice,Quantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,9,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,25,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,38,7,160

In [19]:
df.dtypes

Category                object
Sub-Category            object
product                 object
Date            datetime64[ns]
ListPrice              float64
Quantity                 int64
Sales                  float64
dtype: object

In [20]:
df['Date'] = pd.to_datetime(df['Date'])

In [31]:
df['ListPrice'] = df['ListPrice'].astype(int)

In [22]:
#Check for nulls
df.isnull().any()

Category         True
Sub-Category     True
product          True
Date            False
ListPrice        True
Quantity        False
Sales           False
dtype: bool

In [30]:
#Get totals of missing values
df.isnull().sum()

Category         0
Sub-Category     0
product         39
Date             0
ListPrice        0
Quantity         0
Sales            0
dtype: int64

In [24]:
# filling a null values using fillna() 
df["Category"].fillna("Unknown", inplace = True)

In [27]:
# This will display the empty replaced with "Unknown" but it won't imact the dataframe.
df["Sub-Category"].fillna("Unknown", inplace = True)

In [29]:
df["ListPrice"].fillna(0, inplace=True)

In [ ]:
#Get total number of missing values for each column
df.isnull().sum()

In [ ]:
#Fill missing values for numeric column with zero
df['ListPrice'] = df['ListPrice'].astype(int)

In [34]:
#List distince values for a column
df['Category'].unique()

array(['Clothing', 'Accessories', 'Components', 'Bikes', 'Unknown'],
      dtype=object)

In [35]:
#get total for a numeric column
df.Sales.sum()

80487704.17918801

In [36]:
#get total count
df.Quantity.count()

60880

### How to slice a dataframe wiht loc and iloc?

In [37]:
df[['Category', 'Date','Sales']][10:13]

      Category       Date  Sales
10    Clothing 2012-06-30     42
11  Components 2012-06-30    826
12  Components 2012-06-30    150

In [38]:
df[10:13]['Category'].str.lower()

10      clothing
11    components
12    components
Name: Category, dtype: object

In [39]:
df[10:13]['Category'] = df[10:13]['Category'].str.lower()

C:\Users\hnawaz\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
df.head()

,Category,Sub-Category,product,Date,ListPrice,Quantity,Sales
0,Clothing,Caps,AWC Logo Cap,2012-06-30,8,14,69
1,Accessories,Locks,Cable Lock,2012-06-30,25,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,37,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,37,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",2012-06-30,37,7,160

In [41]:
df.loc[0,'Category']

'Clothing'

In [58]:
#Iterrate over rows.
for index,row in df[10:13].iterrows():
    print(index)
    print(row['Category'])
    df.loc[index, 'Category'] = row['Category'].title()

10
clothing
11
components
12
components

In [59]:
#Test above value change
df.loc[10:13,'Category']

10      Clothing
11    Components
12    Components
13    Components
Name: Category, dtype: object

In [67]:
#Example to add a new column using iterrow and loc.
for index,row in df.iterrows():
    if row['Territory'] in ('Central','Northeast','Northwest','Southeast','Southwest','Canada'):
        df.loc[index,'Region'] = "Americas"
    elif row['Territory'] in ('Germany','France','United Kingdom'):
        df.loc[index,'Region'] = "Europe"
    else:
        df.loc[index,'Region'] = "Australia"

In [70]:
df.head()

,Category,Sub-Category,product,Territory,Date,ListPrice,Quantity,Sales,Region,Region2
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,9,14,69,Europe,Europe
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,25,6,90,Europe,Europe
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,8,182,Europe,Europe
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,16,318,Europe,Europe
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,38,7,160,Europe,Europe

In [69]:
#creating a new column
df.loc[df.Territory.isin(['Central','Northeast','Northwest','Southeast','Southwest','Canada']), "Region2"] = "Americas"
df.loc[df.Territory.isin(['Germany','France','United Kingdom']), "Region2"] = "Europe"
df.loc[df.Territory.isin(['Australia']), "Region2"] = "Australia"

In [71]:
df.groupby(['Territory','Region', 'Region2']).size()

Territory       Region     Region2
Australia       Australia  Australia     1713
Canada          Americas   Americas     11444
Central         Americas   Americas      5812
France          Europe     Europe        3530
Germany         Europe     Europe        1864
Northeast       Americas   Americas      5809
Northwest       Americas   Americas      7872
Southeast       Americas   Americas      5937
Southwest       Americas   Americas     13379
United Kingdom  Europe     Europe        3520
dtype: int64

In [72]:
df.iloc[0:4]

,Category,Sub-Category,product,Territory,Date,ListPrice,Quantity,Sales,Region,Region2
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,9,14,69,Europe,Europe
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,25,6,90,Europe,Europe
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,8,182,Europe,Europe
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,16,318,Europe,Europe

In [87]:
#print out each row
#df.iloc[0:1]
#get multiple rows
#df.iloc[0:2]
#specific location in dataframe
#row then columns
#df.iloc[0,0]
#df.iloc[1,0]
df.iloc[1,1]

'Locks'

In [88]:
#We can also use at to get a specific row
df.at[1, 'Sub-Category']

'Locks'

In [89]:
df.loc[10:15, ['Category','Sales']]

      Category  Sales
10    Clothing     42
11  Components    826
12  Components    150
13  Components  1,472
14  Components    736
15  Components    744

In [92]:
df.iloc[10:16, [0, 7]]

      Category  Sales
10    Clothing     42
11  Components    826
12  Components    150
13  Components  1,472
14  Components    736
15  Components    744

In [93]:
df.columns.get_loc("Sales")

7

In [95]:
#We can get the columns name and index in our dataset.
for col in df.columns:
    #print(  col )
    #print(df.columns.get_loc(col))
    print("Columns Name: {} Index: {}".format(col, df.columns.get_loc(col)))

Columns Name: Category Index: 0
Columns Name: Sub-Category Index: 1
Columns Name: product Index: 2
Columns Name: Territory Index: 3
Columns Name: Date Index: 4
Columns Name: ListPrice Index: 5
Columns Name: Quantity Index: 6
Columns Name: Sales Index: 7
Columns Name: Region Index: 8
Columns Name: Region2 Index: 9

### How to add and delete column?

In [96]:
#Convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'])
#Get year from datetime
df['Year'] = df['Date'].dt.year
df.head()

,Category,Sub-Category,product,Territory,Date,ListPrice,Quantity,Sales,Region,Region2,Year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,9,14,69,Europe,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,25,6,90,Europe,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,8,182,Europe,Europe,2012
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,38,16,318,Europe,Europe,2012
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,38,7,160,Europe,Europe,2012

In [99]:
#drop a a column
#df.head()
df.drop('Region2', axis=1, inplace=True)

In [101]:
df.shape

(60880, 9)

### How to summarize data?

In [102]:
#group data by certain columns
Category_sales = df.groupby('Category')['Sales'].sum().sort_values(ascending = False)
Category_sales

Category
Bikes         66,302,382
Components    11,799,077
Clothing       1,777,841
Accessories      571,298
Name: Sales, dtype: float64

In [103]:
Category_sales = df.groupby('product')['Sales'].sum().sort_values(ascending = False)
Category_sales.head(10)

product
Mountain-200 Black, 38    3,105,727
Mountain-200 Black, 42    2,646,353
Mountain-200 Silver, 38   2,354,215
Mountain-200 Silver, 42   2,181,044
Mountain-200 Silver, 46   2,133,157
Mountain-200 Black, 46    1,936,204
Road-250 Black, 44        1,888,480
Road-250 Black, 48        1,656,450
Road-350-W Yellow, 48     1,380,254
Touring-1000 Blue, 60     1,370,784
Name: Sales, dtype: float64

In [104]:
#Transactions count by Category
df.Category.value_counts()

Bikes          24800
Components     18683
Clothing       12260
Accessories     5098
Name: Category, dtype: int64

In [105]:
df.head()

,Category,Sub-Category,product,Territory,Date,Quantity,Sales,Region,Year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,14,69,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,6,90,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,8,182,Europe,2012
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,16,318,Europe,2012
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,7,160,Europe,2012

In [106]:
#create a pivot table from dataframe
df.pivot_table(index='Category',columns='Year',values='Sales',  aggfunc='sum')

Year             2011       2012       2013      2014
Category
Accessories    20,821    102,440    322,100   125,937
Bikes       8,082,527 22,594,916 26,032,638 9,592,301
Clothing       36,031    555,588    897,473   288,748
Components    639,173  3,880,758  5,609,918 1,669,228

In [107]:
#convert column datatype
#df['Sales'] = df['Sales'].astype(int)
df.head()

,Category,Sub-Category,product,Territory,Date,Quantity,Sales,Region,Year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,2012-06-30,14,69,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,2012-06-30,6,90,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,8,182,Europe,2012
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,2012-06-30,16,318,Europe,2012
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,2012-06-30,7,160,Europe,2012

In [108]:
df.to_excel('updateddf.xlsx', index=False)