### Install Pyspark

In [2]:
#!pip install pyspark

### Import libraries

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
import os

### Set Java home

In [4]:
# set Java home
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-18.0.2.1"

### Initiate Spark Context

In [5]:
conf = SparkConf() \
    .setAppName("Example") \
    .setMaster("local") \
    .set("spark.driver.extraClassPath","C:/pyspark/*")

In [6]:
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)

In [7]:
spark

### Read CSV File

In [8]:
df=spark.read.options(delimiter=",", header=True).csv(r"C:\Users\haq\OneDrive\Notebooks\data\AdvWorksData.csv")
df.show()

+---------------+------------------+--------------------+--------------+--------------+---------+------------+---------+---------+-------------+---------+
|productcategory|productsubcategory|             product| saleterritory|       Country|OrderDate|StandardCost|UnitPrice|ListPrice|OrderQuantity|    Sales|
+---------------+------------------+--------------------+--------------+--------------+---------+------------+---------+---------+-------------+---------+
|       Clothing|              Caps|        AWC Logo Cap|United Kingdom|United Kingdom|6/30/2012|      6.9223|   5.0136|   8.6442|           14|68.786592|
|    Accessories|             Locks|          Cable Lock|United Kingdom|United Kingdom|6/30/2012|     10.3125|       15|       25|            6|       90|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|   22.794|    37.99|            8|  182.352|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|  20.8945|    37.99|           16| 317.5964|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|   22.794|    37.99|            7|  159.558|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|   22.794|    37.99|            2|   45.588|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|   22.794|    37.99|            1|   22.794|
|       Clothing|            Gloves|Full-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|     15.6709|   22.794|    37.99|            1|   22.794|
|       Clothing|            Gloves|Half-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|      9.1593|  14.1289|  23.5481|            3|  42.3867|
|       Clothing|            Gloves|Half-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|      9.1593|  14.1289|  23.5481|            8| 113.0312|
|       Clothing|            Gloves|Half-Finger Glove...|United Kingdom|United Kingdom|6/30/2012|      9.1593|  14.1289|  23.5481|            3|  42.3867|
|     Components|             Forks|             HL Fork|United Kingdom|United Kingdom|6/30/2012|    101.8936|  137.694|   229.49|            6|  826.164|
|     Components|          Headsets|          HL Headset|United Kingdom|United Kingdom|6/30/2012|     55.3801|   74.838|   124.73|            2|  149.676|
|     Components|   Mountain Frames|HL Mountain Frame...|United Kingdom|United Kingdom|6/30/2012|     739.041| 736.1455|1226.9091|            2| 1472.291|
|     Components|   Mountain Frames|HL Mountain Frame...|United Kingdom|United Kingdom|6/30/2012|     739.041| 736.1455|1226.9091|            1| 736.1455|
|     Components|   Mountain Frames|HL Mountain Frame...|United Kingdom|United Kingdom|6/30/2012|    747.2002| 744.2727|1240.4545|            1| 744.2727|
|     Components|   Mountain Frames|HL Mountain Frame...|United Kingdom|United Kingdom|6/30/2012|    747.2002| 744.2727|1240.4545|            6|4465.6362|
|     Components|   Mountain Frames|HL Mountain Frame...|United Kingdom|United Kingdom|6/30/2012|    747.2002| 744.2727|1240.4545|            3|2232.8181|
|     Components|            Wheels|HL Mountain Front...|United Kingdom|United Kingdom|6/30/2012|    133.2955|  180.129|  300.215|            2|  360.258|
|     Components|        Handlebars|HL Mountain Handl...|        France|        France|6/30/2012|     53.3999|  65.6018| 109.3364|            1|  65.6018|
+---------------+------------------+--------------------+--------------+--------------+---------+------------+---------+---------+-------------+---------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- productcategory: string (nullable = true)
 |-- productsubcategory: string (nullable = true)
 |-- product: string (nullable = true)
 |-- saleterritory: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)
 |-- Sales: string (nullable = true)

### Common dataframe actions

In [11]:
france = df.filter(df.saleterritory == "France").show(truncate=False)

+---------------+------------------+------------------------------+-------------+-------+----------+------------+---------+---------+-------------+---------+
|productcategory|productsubcategory|product                       |saleterritory|Country|OrderDate |StandardCost|UnitPrice|ListPrice|OrderQuantity|Sales    |
+---------------+------------------+------------------------------+-------------+-------+----------+------------+---------+---------+-------------+---------+
|Components     |Handlebars        |HL Mountain Handlebars        |France       |France |6/30/2012 |53.3999     |65.6018  |109.3364 |1            |65.6018  |
|Clothing       |Gloves            |Full-Finger Gloves, L         |France       |France |9/30/2012 |15.6709     |22.794   |37.99    |3            |68.382   |
|Clothing       |Gloves            |Full-Finger Gloves, S         |France       |France |9/30/2012 |15.6709     |22.794   |37.99    |1            |22.794   |
|Bikes          |Mountain Bikes    |Mountain-200 Black, 38        |France       |France |9/30/2012 |1251.9813   |1229.4589|2049.0982|3            |3688.3767|
|Bikes          |Mountain Bikes    |Mountain-200 Black, 42        |France       |France |9/30/2012 |1251.9813   |1229.4589|2049.0982|2            |2458.9178|
|Bikes          |Mountain Bikes    |Mountain-200 Silver, 42       |France       |France |9/30/2012 |1265.6195   |1242.8518|2071.4196|2            |2485.7036|
|Clothing       |Gloves            |Full-Finger Gloves, L         |France       |France |12/31/2012|15.6709     |22.794   |37.99    |2            |45.588   |
|Clothing       |Gloves            |Full-Finger Gloves, M         |France       |France |12/31/2012|15.6709     |22.794   |37.99    |3            |68.382   |
|Components     |Headsets          |HL Headset                    |France       |France |12/31/2012|55.3801     |74.838   |124.73   |5            |374.19   |
|Components     |Mountain Frames   |HL Mountain Frame - Black, 38 |France       |France |12/31/2012|739.041     |736.1455 |1226.9091|3            |2208.4365|
|Components     |Mountain Frames   |HL Mountain Frame - Black, 42 |France       |France |12/31/2012|739.041     |736.1455 |1226.9091|1            |736.1455 |
|Components     |Mountain Frames   |HL Mountain Frame - Silver, 46|France       |France |12/31/2012|747.2002    |744.2727 |1240.4545|2            |1488.5454|
|Clothing       |Jerseys           |Long-Sleeve Logo Jersey, XL   |France       |France |12/31/2012|38.4923     |28.8404  |48.0673  |6            |173.0424 |
|Clothing       |Bib-Shorts        |Men's Bib-Shorts, S           |France       |France |12/31/2012|37.1209     |53.994   |89.99    |2            |107.988  |
|Clothing       |Shorts            |Men's Sports Shorts, S        |France       |France |12/31/2012|24.7459     |35.994   |59.99    |4            |143.976  |
|Components     |Mountain Frames   |ML Mountain Frame - Black, 38 |France       |France |12/31/2012|185.8193    |209.256  |348.76   |2            |418.512  |
|Bikes          |Mountain Bikes    |Mountain-200 Black, 38        |France       |France |12/31/2012|1251.9813   |1229.4589|2049.0982|2            |2458.9178|
|Bikes          |Mountain Bikes    |Mountain-200 Black, 42        |France       |France |12/31/2012|1251.9813   |1229.4589|2049.0982|1            |1229.4589|
|Bikes          |Mountain Bikes    |Mountain-200 Black, 42        |France       |France |12/31/2012|1251.9813   |1229.4589|2049.0982|2            |2458.9178|
|Bikes          |Mountain Bikes    |Mountain-200 Black, 46        |France       |France |12/31/2012|1251.9813   |1229.4589|2049.0982|2            |2458.9178|
+---------------+------------------+------------------------------+-------------+-------+----------+------------+---------+---------+-------------+---------+
only showing top 20 rows

In [12]:
df1 = df[['productcategory','saleterritory','OrderDate','Sales']]
df1.show()

+---------------+--------------+---------+---------+
|productcategory| saleterritory|OrderDate|    Sales|
+---------------+--------------+---------+---------+
|       Clothing|United Kingdom|6/30/2012|68.786592|
|    Accessories|United Kingdom|6/30/2012|       90|
|       Clothing|United Kingdom|6/30/2012|  182.352|
|       Clothing|United Kingdom|6/30/2012| 317.5964|
|       Clothing|United Kingdom|6/30/2012|  159.558|
|       Clothing|United Kingdom|6/30/2012|   45.588|
|       Clothing|United Kingdom|6/30/2012|   22.794|
|       Clothing|United Kingdom|6/30/2012|   22.794|
|       Clothing|United Kingdom|6/30/2012|  42.3867|
|       Clothing|United Kingdom|6/30/2012| 113.0312|
|       Clothing|United Kingdom|6/30/2012|  42.3867|
|     Components|United Kingdom|6/30/2012|  826.164|
|     Components|United Kingdom|6/30/2012|  149.676|
|     Components|United Kingdom|6/30/2012| 1472.291|
|     Components|United Kingdom|6/30/2012| 736.1455|
|     Components|United Kingdom|6/30/2012| 744.2727|
|     Components|United Kingdom|6/30/2012|4465.6362|
|     Components|United Kingdom|6/30/2012|2232.8181|
|     Components|United Kingdom|6/30/2012|  360.258|
|     Components|        France|6/30/2012|  65.6018|
+---------------+--------------+---------+---------+
only showing top 20 rows

In [13]:
saleterritory = df.groupBy('saleterritory').count()
print(saleterritory.show())

+--------------+-----+
| saleterritory|count|
+--------------+-----+
|       Germany| 1864|
|        France| 3530|
|     Northwest| 7872|
|     Southeast| 5937|
|       Central| 5812|
|        Canada|11444|
|     Southwest|13379|
|     Australia| 1713|
|United Kingdom| 3520|
|     Northeast| 5809|
+--------------+-----+

None

### Use Spark SQL to query data

In [15]:
df.createOrReplaceTempView("sales")
output =  spark.sql("SELECT * from sales where productsubcategory='Caps'")
output.show()

+---------------+------------------+------------+--------------+--------------+----------+------------+---------+---------+-------------+---------+
|productcategory|productsubcategory|     product| saleterritory|       Country| OrderDate|StandardCost|UnitPrice|ListPrice|OrderQuantity|    Sales|
+---------------+------------------+------------+--------------+--------------+----------+------------+---------+---------+-------------+---------+
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom| 6/30/2012|      6.9223|   5.0136|   8.6442|           14|68.786592|
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom| 9/30/2012|      6.9223|   5.1865|   8.6442|            2|   10.373|
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom| 3/30/2013|      6.9223|   5.1865|   8.6442|            5|  25.9325|
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom| 4/30/2013|      6.9223|   5.1865|   8.6442|            4|   20.746|
|       Clothing|              Caps|AWC Logo Cap|        France|        France| 6/30/2013|      6.9223|    5.394|     8.99|            2|   10.788|
|       Clothing|              Caps|AWC Logo Cap|       Germany|       Germany| 6/30/2013|      6.9223|   5.2142|     8.99|           12|61.318992|
|       Clothing|              Caps|AWC Logo Cap|        France|        France| 9/30/2013|      6.9223|    5.394|     8.99|            3|   16.182|
|       Clothing|              Caps|AWC Logo Cap|United Kingdom|United Kingdom|10/30/2013|      6.9223|    5.394|     8.99|            8|   43.152|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 5/31/2011|      6.9223|   5.1865|   8.6442|            3|  15.5595|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 5/31/2011|      6.9223|   5.1865|   8.6442|            2|   10.373|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States|  7/1/2011|      6.9223|   5.1865|   8.6442|            4|   20.746|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 8/31/2011|      6.9223|   5.1865|   8.6442|            1|   5.1865|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 10/1/2011|      6.9223|   5.1865|   8.6442|            3|  15.5595|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 12/1/2011|      6.9223|   5.1865|   8.6442|            1|   5.1865|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 12/1/2011|      6.9223|   5.1865|   8.6442|            1|   5.1865|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States|  1/1/2012|      6.9223|   5.1865|   8.6442|            5|  25.9325|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 2/29/2012|      6.9223|   5.1865|   8.6442|            2|   10.373|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 3/30/2012|      6.9223|   5.1865|   8.6442|            4|   20.746|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 4/30/2012|      6.9223|   5.1865|   8.6442|            2|   10.373|
|       Clothing|              Caps|AWC Logo Cap|     Northwest| United States| 4/30/2012|      6.9223|   5.1865|   8.6442|            1|   5.1865|
+---------------+------------------+------------+--------------+--------------+----------+------------+---------+---------+-------------+---------+
only showing top 20 rows

In [16]:
output = spark.sql('SELECT * from sales WHERE `UnitPrice` > 20 AND OrderQuantity >= 10')
output.show()

+---------------+------------------+--------------------+--------------+--------------+----------+------------+---------+---------+-------------+-----------+
|productcategory|productsubcategory|             product| saleterritory|       Country| OrderDate|StandardCost|UnitPrice|ListPrice|OrderQuantity|      Sales|
+---------------+------------------+--------------------+--------------+--------------+----------+------------+---------+---------+-------------+-----------+
|       Clothing|           Jerseys|Long-Sleeve Logo ...|United Kingdom|United Kingdom| 6/30/2012|     38.4923|   27.879|  48.0673|           14|  382.49988|
|       Clothing|            Tights|   Women's Tights, L|United Kingdom|United Kingdom| 6/30/2012|     30.9334|  43.4942|    74.99|           13| 554.116108|
|       Clothing|            Tights|   Women's Tights, S|United Kingdom|United Kingdom| 6/30/2012|     30.9334|  43.4942|    74.99|           13| 554.116108|
|       Clothing|             Vests|     Classic Vest, M|       Germany|       Germany| 6/30/2013|      23.749|   34.925|     63.5|           18|   597.2175|
|       Clothing|             Vests|     Classic Vest, S|       Germany|       Germany| 6/30/2013|      23.749|   34.925|     63.5|           15|  497.68125|
|    Accessories|        Bike Racks| Hitch Rack - 4-Bike|       Germany|       Germany| 6/30/2013|       44.88|       66|      120|           16|     1003.2|
|     Components|    Touring Frames|HL Touring Frame ...|       Germany|       Germany| 6/30/2013|    601.7437|  602.346|  1003.91|           10|    6023.46|
|       Clothing|           Jerseys|Long-Sleeve Logo ...|       Germany|       Germany| 6/30/2013|     38.4923|  27.4945|    49.99|           15| 391.796625|
|       Clothing|           Jerseys|Short-Sleeve Clas...|       Germany|       Germany| 6/30/2013|     41.5723|  31.3142|    53.99|           12| 368.254992|
|       Clothing|           Jerseys|Short-Sleeve Clas...|       Germany|       Germany| 6/30/2013|     41.5723|   32.394|    53.99|           10|     323.94|
|          Bikes|     Touring Bikes|Touring-1000 Blue...|       Germany|       Germany| 6/30/2013|   1481.9379|1382.7606|  2384.07|           13|17616.37004|
|          Bikes|     Touring Bikes|Touring-3000 Yell...|       Germany|       Germany| 6/30/2013|    461.4448| 334.0575|   742.35|           11|3123.437625|
|       Clothing|            Shorts|Women's Mountain ...|United Kingdom|United Kingdom| 7/31/2013|     26.1763|  38.4945|    69.99|           17| 621.686175|
|    Accessories|   Hydration Packs|Hydration Pack - ...|United Kingdom|United Kingdom|10/30/2013|     20.5663|   32.994|    54.99|           10|     329.94|
|     Components|   Mountain Frames|ML Mountain Frame...|United Kingdom|United Kingdom|10/30/2013|    199.3757| 211.1722|   364.09|           13|2690.333828|
|       Clothing|           Jerseys|Short-Sleeve Clas...|United Kingdom|United Kingdom|10/30/2013|     41.5723|  31.3142|    53.99|           11| 337.567076|
|       Clothing|           Jerseys|Short-Sleeve Clas...|United Kingdom|United Kingdom|10/30/2013|     41.5723|  31.3142|    53.99|           11| 337.567076|
|          Bikes|    Mountain Bikes|Mountain-100 Blac...|     Northwest| United States| 8/31/2011|   1898.0944| 2024.994|  3374.99|           10|   20249.94|
|     Components|       Road Frames|LL Road Frame - R...|     Northwest| United States| 5/30/2012|    187.1571| 195.5876|   337.22|           11|2108.434328|
|          Bikes|    Mountain Bikes|Mountain-200 Blac...|     Northwest| United States| 5/30/2012|   1251.9813|1229.4589|2049.0982|           10|  12294.589|
+---------------+------------------+--------------------+--------------+--------------+----------+------------+---------+---------+-------------+-----------+
only showing top 20 rows

In [17]:
output = spark.sql('SELECT COUNT(*) as total, productcategory from sales GROUP BY productcategory')
output.show()

+-----+---------------+
|total|productcategory|
+-----+---------------+
|24800|          Bikes|
|12260|       Clothing|
| 5098|    Accessories|
|18683|     Components|
|   39|           NULL|
+-----+---------------+

### Persist data to database

In [18]:
dest_tbl = 'public."pyspark_sales_table"'
database = "AdventureWorks"
password = "demopass"#os.environ['PGPASS']
user = "etl"#os.environ['PGUID']

In [19]:
df.write.mode("overwrite") \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://localhost:5432/{database}") \
    .option("dbtable", dest_tbl) \
    .option("user", user) \
    .option("password", password) \
    .option("driver",  "org.postgresql.Driver") \
    .save()