### Import libs & db details

In [1]:
#import needed libraries
from sqlalchemy import create_engine
import pandas as pd
import os
import time
#get password from environmnet var
pwd = os.environ['PGPASS']
uid = os.environ['PGUID']
server = "localhost"
db = "AdventureWorks"
port = "5432"
#
engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:{port}/{db}')

### Read data from histroy table

In [2]:
df = pd.read_sql('Select * from public.factinternetsales', engine)
df = df[['productkey', 'customerkey', 'salesterritorykey', 'salesordernumber', 'totalproductcost', 'salesamount']]
df.head()

,productkey,customerkey,salesterritorykey,salesordernumber,totalproductcost,salesamount
0,310,21768,6,SO43697,2171.2942,3578.2700
1,346,28389,7,SO43698,1912.1544,3399.9900
2,346,25863,1,SO43699,1912.1544,3399.9900
3,336,14501,4,SO43700,413.1463,699.0982
4,346,11003,9,SO43701,1912.1544,3399.9900

### Insert data into FactInernetSales

In [ ]:
for index, row in df.head(1).iterrows():
    mod = pd.DataFrame(row.to_frame().T)
    mod.to_sql(f"factinternetsales_streaming", engine, if_exists='append', index=False)
    print("Row Inserted " + mod.salesordernumber.astype(str) + ' ' + mod.salesamount.astype(str).astype(str))
    time.sleep(3)

0    Row Inserted SO43697 3578.27
dtype: object